.contact__button{
    border-radius: 3px;
    color: $granitegray;
    font-family: $raleway;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 50px;
    width: 250px;
    height: auto;

}