.contact__button{
    border-radius: 40px;
    color: $granitegray;
    font-family: $raleway;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 35px;
    width: 364px;
    height: 66px;
    text-transform: uppercase;
    font-weight: $bold;

}