// esquema de colores

// primer esquema de color
$white: #fff;
$snow: #FAFAFA;
$quicksilver: #a0a0a0;

// segundo esquema de color
$jellybean: #e56553;
$salmon: #e97f72;
$pastelpink: #f0a9a1;

// tercer esquema de color
$granitegray: #686963;
$taupegray: #91918d;
$gray: #babab8;

// tipografia
$raleway: 'Raleway', sans-serif;

// peso de fuentes
$extraligth: 200;
$regular: 400;
$bold: 700;

// tamaños de fuentes
$xx-large: 100px;
$x-large: 70px;
$large: 50px;
$medium: 18px;



