 .about{
   background-color: $taupegray;
   width: 100%;
   height: auto; 
}
.about__container{
    padding-left: 175px;
    padding-right: 175px;
    padding-top: 77px;
    padding-bottom: 50px;
}
.about__image{
    width: 927px;
}