.start{
    width: 100%;
    height: auto;
    background-color: $jellybean;
}
.start__container{
    padding-top: 245px;
    padding-bottom: 237px;
    padding-left: 364px;
    padding-right: 364px;
}

