.us{
    width: 100%;
    height: auto;
}
.us__container{
    background-color: $jellybean;
    padding-top: 98px;
    padding-bottom: 92px;
    padding-left: 152px;
    padding-right: 152px;
    text-align: center;
}