.us{
    width: 100%;
    height: auto;
}
.us__container{
    background-color: $jellybean;
    padding-top: 98px;
    padding-bottom: 92px;
    padding-left: 152px;
    padding-right: 152px;
    text-align: center;
}
.us__title{
    font-family: $raleway;
    text-align: center;
    font-weight: $bold;
    font-size: $x-large; 
    color: $white;
}
.us__articule{
    background-color: $white;
    padding-top: 84px;
    padding-left: 280px;
    padding-right: 280px;  
}
.us__image{
    width: 364px;
    height: auto;
}